name: Go CI (build, test, coverage)

on:
  workflow_dispatch: {}
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.x'
          cache: true
      - uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage.out
      - run: go mod tidy
      - run: make test
      - run: go test ./... -coverprofile=coverage.out -covermode=atomic
